@model IEnumerable<ContosoUniversity.Models.Student>

@{
    ViewBag.Title = "Index";
}


<h2>Student Authentication</h2>

<p>
    @Html.ActionLink("Student Sign up", "StudentSignup")
</p>

<p>
    @Html.ActionLink("Student Sign in", "StudentSignin")
</p>

<p>
    @Html.ActionLink("Instructor Sign up", "InstructorSignup")
</p>

<p>
    @Html.ActionLink("Instructor Sign in", "InstructorSignin")
</p>



