@model IEnumerable<ContosoUniversity.Models.Student>

@{
    ViewBag.Title = "Index";
}


<h2>Student Authentication</h2>


<p>
    @Html.ActionLink("Sign up", "Signup")
</p>

<p>
    @Html.ActionLink("Sign in", "Signin")
</p>



