@model ContosoUniversity.Models.ImageUpload
@{
    ViewBag.Title = "UploadPhoto";
}

<h2>UploadPhoto</h2>

<div class="row">
    <div class="large-12 columns">
        <hgroup class="title">
            <h1>Upload Photo</h1>
        </hgroup>
       
        <form action="UploadPhoto" enctype="multipart/form-data" method="post">
            <label for="photo"> Upload a Photo: </label>
            <input class="tiny button" id="photo" type="file" name="photo" />
            <input class="tiny button" type="submit" value="Upload" />
            <input type="hidden" name="Image" value="@Html.DisplayFor(modelItem => Model.Image)" />
        </form>


        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
    </div>
</div>

